USE [LES_LICENSE_REGISTRY]
GO
/****** Object:  View [dbo].[V_LES_LICENSE_UPDATE_LOG]    Script Date: 25-02-2025 12:55:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_LES_LICENSE_UPDATE_LOG] as(
select LES_LICENSE_UPDATE_LOG.*,license.CUSTOMER_NAME from LES_LICENSE_UPDATE_LOG
Left outer join LES_LICENSE_REGISTRY license on license.LICENSEID = LES_LICENSE_UPDATE_LOG.LICENSEID
)
GO
