USE [LES_LICENSE_REGISTRY]
GO
/****** Object:  Table [dbo].[LES_LICENSE_UPDATE_LOG]    Script Date: 25-02-2025 12:55:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LES_LICENSE_UPDATE_LOG](
	[LOGID] [int] IDENTITY(1,1) NOT NULL,
	[LICENSEID] [int] NULL,
	[LICENSE_STATUS] [nvarchar](50) NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [nvarchar](200) NULL,
	[REMARKS] [nvarchar](255) NULL,
 CONSTRAINT [PK_LES_LICENSE_UPDATE_LOG] PRIMARY KEY CLUSTERED 
(
	[LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LES_LICENSE_UPDATE_LOG]  WITH CHECK ADD  CONSTRAINT [FK_LES_LICENSE_UPDATE_LOG_LES_LICENSE_REGISTRY] FOREIGN KEY([LICENSEID])
REFERENCES [dbo].[LES_LICENSE_REGISTRY] ([LICENSEID])
GO
ALTER TABLE [dbo].[LES_LICENSE_UPDATE_LOG] CHECK CONSTRAINT [FK_LES_LICENSE_UPDATE_LOG_LES_LICENSE_REGISTRY]
GO
