USE [LES_LICENSE_REGISTRY]
GO
/****** Object:  Table [dbo].[LES_IP_ACCESS_CONTROL]    Script Date: 25-02-2025 12:55:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LES_IP_ACCESS_CONTROL](
	[IPACCESSID] [int] IDENTITY(1,1) NOT NULL,
	[IP_ADDRESS] [nvarchar](45) NULL,
	[ACCESS_TYPE] [nvarchar](10) NULL,
	[REMARKS] [nvarchar](255) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_DATE] [datetime] NULL,
 CONSTRAINT [PK_LES_IP_ACCESS_CONTROL] PRIMARY KEY CLUSTERED 
(
	[IPACCESSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
