USE [LES_LICENSE_REGISTRY]
GO
/****** Object:  Table [dbo].[LES_LICENSE_REGISTRY]    Script Date: 25-02-2025 12:55:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LES_LICENSE_REGISTRY](
	[LICENSEID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMER_NAME] [nvarchar](50) NULL,
	[ACTIVATION_KEY] [nvarchar](100) NULL,
	[BYPASS_LICENSE] [bit] NULL,
	[LICENSE_PERIOD] [int] NULL,
	[ACTIVATED_DATE] [datetime] NULL,
	[ACTIVATED_BY] [nvarchar](100) NULL,
	[EXPIRY_DATE] [datetime] NULL,
	[STATUS] [nvarchar](50) NULL,
	[REVOKED_DATE] [datetime] NULL,
	[REVOKED_BY] [nvarchar](100) NULL,
	[REMARKS] [ntext] NULL,
	[MACHINE_NAME] [nvarchar](100) NULL,
	[WARNINGDAYSBEFOREEXPIRY] [int] NULL,
	[LASTWARNINGDATE] [datetime] NULL,
	[WARNINGCOUNT] [int] NULL,
 CONSTRAINT [PK_LES_LICENSE_REGISTRY] PRIMARY KEY CLUSTERED 
(
	[LICENSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[LES_LICENSE_REGISTRY] ADD  DEFAULT ((7)) FOR [WARNINGDAYSBEFOREEXPIRY]
GO
